.leaflet-container {
    height: 50vh;
    width: 70vh ;
}

.cluster-icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700 ;
    opacity: 0.8
}