.leaflet-container {
    height: 500px;
    width: auto
}

.cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%)
}